body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(48, 48, 48);
}

header {
    min-width: 100%;  /* or width: 100% */
}

h1 {
    text-align: center;
    font-size: 3em;
    color: white;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    line-height: 10rem;
    width: 100%;
    box-sizing: border-box;  
}

input{
    padding: 20px;
    border-radius: 8px;
    font-size: 2em;
    min-width: 50%;
    width: auto;
}

.second {
    display: flex;
    gap: 50px;
    width: 70%;
}

.second input {
    max-width: 20%;
}

input[type='button']{
    min-width: 50%;
}

.output{
    color: white;
    font-size: 2rem;
    font: 'Segoe UI';
    text-align: center;
}
