body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(48, 48, 48);
}

header {
    min-width: 100%;  /* or width: 100% */
}

h1 {
    text-align: center;
    font-size: 3em;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    line-height: 10rem;
    width: 100%;       /* changed from min-width to width */
    box-sizing: border-box;  /* add this to include padding in width calculation */
}

input{
    padding: 20px;
    border-radius: 8px;
    font-size: 2em;
    min-width: 50%;
}

.second {
    display: flex;
    padding: 50px;
    gap: 50px;
}

input[type='button']{
    min-width: 50%;
}