<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
    <script src="{{ url_for('static', filename='js/home.js') }}" defer></script>
  </head>
  <body>
    <header>
      <h1>Financial Advisor</h1>
    </header>

    <form method="post">
      <div class="first">
        <input
          type="text"
          name="stockName"
          placeholder="Enter stock name, comma separated"
        />
      </div>
      <div class="third">
        <input
        type="number"
        name="budget"
        placeholder="Enter your budget"
      />
      </div>
      <div class="second">
        <input
          type="button"
          id="analyzeBtn"
          value="Generate Analysis"
        />
        <input type="button" id="trendingBtn" value="Find whats trending" />
      </div>
    </form>
    <div class="output"></div>
  </body>
</html>
